<h1 style="font-family: 'Ubuntu', sans-serif;" {% if site.style == 'dark' %}class="text-white"{% endif %}>My Projects</h1>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">GitHub repositories that I've built.</p>
<script type = "text/javascript">
alert("start!");
function changeClass() { 
  window.mobileCheck = function(){
    return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
  };
  let isMobile = window.mobileCheck();
  var index = navigator.appVersion.indexOf("Mobile");
  alert(index);
  if(isMobile){
    alert("mobile is executing");
   document.getElementById("IfMobileDevice").className = "github-component d-flex flex-column flex-justify-between windtext-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3";  
  }
  else{alert("pc is executing")}
} 
</script>  
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}
  {% if site.projects.exclude.archived && site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}
  {% for repository in filtered_repos | limit: site.projects.limit %}
    {% unless site.projects.exclude.projects contains repository.name %}
      <script> changeClass() </script>
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
        <script>  changeClass() </script>
      </div> 
    {% endunless %}
  {% endfor %}
</div>
